 .fondo {
      height: 100vh;
      background: url(../images/instalacion.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .gris{
      background: rgba(0, 0, 0, 0.199);
    }

    .top-nav-collapse{
      background: #0EC82D !important;
    }
      
    .scrollbar {
      margin-left: 30px;
      float: left;
      height: 300px;
      width: 65px;
      background: #fff;
      overflow-y: scroll;
      margin-bottom: 25px;
    }
    .force-overflow {
      min-height: 450px;
    }
    .map-container-6{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
    }
    .map-container-6 iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
    }